week1/bakingCookiesAlgorithm.pdf
week1/Untitled-1.py
week1/cookieAlgorithm .png
week1/working.png
week1/part2.png
week1/part1.png
week1/github.png
week3/Screenshot 2024-06-29 101826.png
week3/Screenshot 2024-06-29 102215.png
week3/Screenshot 2024-06-29 102809.png
week3/Screenshot 2024-06-29 102744.png
week3/criticalThinkingAssignmentWeek3.docx
README.md
week4/week4PortfolioMilestone.docx
week6/week6PortfolioMilestone.docx
week6/~$ek6PortfolioMilestone.docx
week4/~$ek4PortfolioMilestone.docx
The list and dictionary object type.txt
my post.txt
